<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=FER-PC;Initial Catalog=dbIndustriales;User ID=programador;Password=611711811911"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>